---
Language:        Cpp
BasedOnStyle:  LLVM
ColumnLimit:     110
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
PointerAlignment: Left
AllowShortFunctionsOnASingleLine: None
...
